.navbar {
  display: flex;
  justify-content: space-between;
  /* margin-top: 30px; */
  /* place-items:unset; */
  padding: 12px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.navbar-left {
  font-weight: bold;
  color: darkgreen;
}

.navbar-right button {
  margin-left: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-btn {
  background-color: #28a745;
  color: white;
}

.logout-btn {
  background-color: white;
  border: 1px solid #ccc;
  color: black;
}
